.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0.5rem 0.1rem;
  width: 80%;
  background-color: #fff;
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}

.header-container ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.header-container ul li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-container{
  width: 80%;
  margin: 1rem auto;
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 2px;
}

.restaurant-cards{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem auto;
  padding: 1rem 0;
  gap:  1rem;
}

.cards{
  width: fit-content;
  cursor: pointer;
  height: auto;
  padding: 1rem ;
}

.cards:hover{
  border: 1px solid red;
  border-radius: 2rem;
}

.cards img{
  width: 200px;
  height: 200px;
  border-radius: 2rem;
}

.hotel-info{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer-div{
  height: 100%;
  width: 100%;
  background-color: black;
  color: aqua;
  padding: 2rem;
}
